
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: antiquewhite;
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-image: url("https://images.pexels.com/photos/269140/pexels-photo-269140.jpeg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.root {
  flex-direction: column;
  display: flex;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: -1;
}

header {
  background-color:#e50914;;
  padding: 0.7em;
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 0;
  font-size: 1.2rem;
  font-weight: 600;
  width: auto;
}

.navBtns{
  justify-content: flex-start;
  display: flex;
  font-size: 1.2rem;
  align-content: center;
}

.gitHubLink, Button{
  background-color:#e50914;
  color: rgb(252, 252, 252);
  padding: 0.4rem;
  margin: 0.3em;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 2px 2px 5px rgba(3, 0, 0, 0.7);
  border-radius: 5px;
  border: none;
  transition: transform 0.1s linear;
  text-decoration: none;
}

.gitHubLink:hover,Button:hover {
  background-color: #831010;
  color:  #fcfcfc;
}

.sortnBox{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

form{
  justify-content: flex-end;
}

.search {
  border: 2px solid #22254b;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 50px;
  background-color: white;
  color: 	#831010;
  padding: 0.5rem 1.5rem;
}

/* :placeholder-shown */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#e50914;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#e50914;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#e50914;
}
:-moz-placeholder { /* Firefox 18- */
  color:#e50914;
}

/* :placeholder-shown */



.search:focus {
  outline: none;
}

.movie{
  width: 300px;
  margin: 1rem;
  background-color:	#831010;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.movie img{
  object-fit: cover ;
  width: 100%;
  height: 400px;
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3 {
  margin: 0; 
}

.movie-over{
  background-color: #fff;
  color: #22254b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over:hover{
  transform: translateY(0%);
  color: purple;
}

.tag{
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  height: auto;
}

.tag.innerHTML{
  margin:auto;
}

.tag.green{
  color: green;
}

.tag.orange{
  color: orange;
}

.tag.red{
  color: red; 
}


.footer {
  margin-top: 0.8rem;
  /* padding: 1rem; */
  background-color: #e50914;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-style: inherit;
  font-weight: 600;
  text-decoration: none;

}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{ 
  color: #388DC5;
  font-weight: 700;
  text-shadow: black;
}