// @use "./scss/" as *;
@import "./_variables.scss";

$themes: (
	dark: (
		background-color: $body-bg-dark,
		color: $txt-color-dark,
	),

	light: (
		background-color: $body-bg,
		color: $txt-color,
	),
);

@mixin themed() {
	@each $theme, $map in $themes {
		.theme--#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), "#{$key}");
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function t($key) {
	@return map-get($theme-map, $key);
}
