// light theme colors
$body-bg: #6b7280;
$main-color: #f00;
$txt-color: #fff;

// dark theme colors
$body-bg-dark: #0f0f0f;
$main-color-dark: #f00;
$txt-color-dark: #fff;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
